
# Created by https://www.gitignore.io/api/vuejs,laravel,phpstorm
# Edit at https://www.gitignore.io/?templates=vuejs,laravel,phpstorm

### Laravel ###
/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/vendor/
public/storage
public/hot
storage/*.key
.env
.rnd
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
# User-specific stuff
.idea/


# CMake
cmake-build-*/

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### PhpStorm Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

### Vuejs ###
# Recommended template: Node.gitignore

dist/

# End of https://www.gitignore.io/api/vuejs,laravel,phpstorm
