@import "./../variables";

.container{
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    &.column{
        flex-flow: column;
    }

    .titleContainer{
        width: 100%;
        padding: 20px 10px;
        border-bottom: 1px solid $border-color;
    }

    .title{
        font-size: 18px;

        .highlight{
            font-weight: bold;
        }
    }


    .postsContainer{
        display: flex;
        flex-flow: column;
        margin-bottom: 20px;

        .post{
            display: flex;
            flex-flow: row;
            text-decoration: none;
            margin: 30px 0;
            padding-left: 40px;
            color: #000000;

            .imageContainer{
                margin-right: 50px;

                img{
                    width: 50px;
                }
            }

            .postDetails{
                display: flex;
                flex-flow: column;
                .title{
                    margin-bottom: 15px;
                }

                .text{

                }
            }
        }
    }

    .categoriesContainer{
        padding: 10px;

        .categories{
            display: flex;
            flex-flow: column;
            width: 300px;

            a{
                color: #000000;
                text-decoration: none;
                padding: 10px;
                width: 100%;

                &:hover{
                    background-color: #bbbbbb;
                }
            }
        }
    }

    .addFormContainer{
        padding: 20px;
        border: 1px solid #bbbbbb;
        height: 220px;

        #form{

            .inputContainer{
                display: flex;
                flex-flow: column;

                label{
                    font-size: 16px;
                    margin-bottom: 10px;
                }
                input{
                    border-radius: 5px;
                    padding: 5px 10px;
                    border: 1px solid #bbbbbb;
                }
            }
            input.submit{
                margin-top: 20px;
                padding: 10px 20px;
                border-radius: 10px;
                border: none;
                background: cornflowerblue;
            }
        }
    }
}
