@import "./../variables";
@import "./../mixins";

.container{
    display: flex;
    flex-flow: column;

    &.column{
        flex-flow: column;
    }

    .titleContainer{
        width: 100%;
        padding: 20px 10px;
    }

    .title{
        font-size: 18px;

        .highlight{
            font-weight: bold;
        }
    }

    .addPostBtn{
        @include adminSubmit;
        width: 200px;
    }

    .postsContainer{
        display: flex;
        flex-flow: column;
        margin-bottom: 20px;

        .post{
            display: flex;
            flex-flow: row;
            text-decoration: none;
            margin: 30px 0;
            padding: 20px 0 20px 40px;
            color: #000000;
            background-color: white;

            .imageContainer{
                margin-right: 50px;

                img{
                    width: 50px;
                }
            }

            .postDetails{
                display: flex;
                flex-flow: column;
                .title{
                    margin-bottom: 15px;
                }

                .text{

                }
            }
        }
    }

    .categoriesContainer{
        background-color: white;
        padding: 10px;
        border: 1px solid $adminMenuColor;
        margin-bottom: 20px;

        .title{
            margin-bottom: 30px;
        }
        .categories{
            display: flex;
            flex-flow: column;
            width: 100%;

            a{
                color: #000000;
                text-decoration: none;
                padding: 10px;
                width: 100%;

                &:hover{
                    background-color: $adminHoverColor;
                }
            }
        }
    }

    .addFormContainer{
        padding: 20px;
        border: 1px solid $adminMenuColor;
        height: 220px;
        background-color: white;

        #form{

            .inputContainer{
                margin-top: 20px;
                @include adminInputContainer;
            }
            input.submit{
                margin-top: 20px;
                @include adminSubmit;
            }
        }
    }
}
